/*
0-600px         Phone
600-900px       Tablet portrait
900-1200px      Tablet landscape
1200-1600       Desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land

Order: base + typography + general layout + page layout + components

*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.section-about,
#service-box-animation,
.projects,
.team,
.price-card {
  opacity: 0;
  animation-duration: 1.5s; }

.section-about.animated,
#service-box-animation.animated,
.projects.animated,
.team.animated,
.price-card.animated {
  opacity: 1; }

.logo-box {
  -webkit-animation-duration: 1s;
  animation-duration: 1s; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #f7f7f7;
  max-width: 1600px;
  margin: 0 auto;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }

::selection {
  background-color: #b88b58;
  color: #fff; }

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #777; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--top, .heading-primary--bot {
    display: block;
    font-size: 6rem;
    font-weight: 700;
    line-height: 6rem;
    letter-spacing: .1rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--top, .heading-primary--bot {
        letter-spacing: .5rem;
        font-size: 3rem; } }
  .heading-primary--bot {
    color: #b88b58; }
  .heading-primary--sub {
    line-height: 5rem;
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .1rem;
    animation: moveInRight 1s ease-out; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: .5rem;
        font-size: 1.5rem; } }

.heading-secondary {
  color: #000;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block; }
  .heading-secondary--main {
    display: block;
    font-size: 3rem;
    font-weight: 600;
    line-height: 3rem;
    letter-spacing: .1rem; }
  .heading-secondary--sub {
    line-height: 5rem;
    display: block;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: .1rem; }
  @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3em; } }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }

.heading-ternary {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: all .5s ease-out; }

.paragraph {
  color: #aeaeae;
  font-size: 1.2rem;
  font-weight: 400; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-top-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.u-heading-text-black {
  color: #000; }

.u-heading-text-white {
  color: #fff; }

.u-heading-text-grey {
  color: #aeaeae; }

.btn, .btn:link, .btn:visited {
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 5rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .4s;
  font-size: 1.4rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  background-color: #000;
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--brown {
  background-color: #b88b58;
  color: #fff; }

.btn--grey {
  background-color: #333;
  color: #fff; }
  .btn--grey:hover {
    background-color: #b88b58; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #b88b58;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #b88b58;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #b88b58;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.form__group {
  position: relative;
  float: left;
  width: 100%; }
  .form__group--name, .form__group--email {
    width: 48%; }
    @media only screen and (max-width: 37.5em) {
      .form__group--name, .form__group--email {
        width: 100%; } }
  .form__group--email {
    margin-left: 4%; }
    @media only screen and (max-width: 37.5em) {
      .form__group--email {
        width: 100%;
        margin: 0; } }
  .form__group:not(:last-child) {
    margin-bottom: 4rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1rem 0;
  border-radius: 2px;
  background-color: #f7f7f7;
  border: none;
  border-bottom: 2px solid #aeaeae;
  width: 100%;
  display: block;
  transition: all .5s ease-in; }
  @media only screen and (max-width: 56.25em) {
    .form__input {
      width: 100%; } }
  .form__input:focus {
    outline: none;
    border-bottom: 3px solid #242424; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #e54336; }
  .form__input::-webkit-input-placeholder {
    color: #aeaeae; }

.form__label {
  font-size: 1.2rem;
  color: #aeaeae;
  display: block;
  text-transform: uppercase;
  position: absolute;
  top: -1.5rem;
  left: 0;
  transition: all .3s ease-in; }

.form__input:placeholder-shown + .form__label {
  opacity: 1;
  font-size: 1.6rem;
  visibility: hidden;
  transform: translateY(2rem); }

.price-card {
  background-color: #fff;
  padding: 3rem 0;
  text-align: center;
  color: #242424;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  transition: all .5s ease-in-out; }
  .price-card__heading {
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase; }
  .price-card__price {
    font-size: 3rem;
    font-weight: 900; }
  .price-card__month {
    text-transform: uppercase;
    color: #aeaeae;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: -1rem; }
  .price-card__details {
    padding: 2rem 1rem 3rem 1rem;
    list-style: none;
    width: 85%;
    margin: 0 auto; }
    .price-card__details-element {
      color: #333;
      text-align: center;
      font-size: 1.3rem;
      padding: 1rem;
      position: relative; }
      .price-card__details-element::after {
        content: " ";
        width: 1.5rem;
        height: 1px;
        background-color: #333;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0); }
      .price-card__details-element:last-child::after {
        width: 3rem;
        height: 0; }
  .price-card:hover {
    transform: scale(1.15); }

.projects {
  max-width: 100rem;
  margin: 0 auto; }
  .projects:not(:last-child) {
    margin-bottom: 4rem; }
    @media only screen and (max-width: 56.25em) {
      .projects:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .projects {
      max-width: 50rem; } }
  .projects::after {
    content: "";
    display: table;
    clear: both; }
  .projects-box {
    float: left;
    width: 25%;
    margin: 0;
    padding: 1.5rem;
    text-align: center;
    position: relative;
    color: #fff;
    overflow: hidden;
    transition: all .5s ease-out; }
    @media only screen and (max-width: 56.25em) {
      .projects-box {
        width: 33.33333%; } }
    @media only screen and (max-width: 37.5em) {
      .projects-box {
        width: 50%; } }
    .projects-box__img {
      width: 100%;
      height: auto;
      transition: all .5s ease-out; }
    .projects-box__heading {
      font-size: 1.6rem;
      font-weight: 700;
      text-transform: uppercase;
      position: absolute;
      top: -30%;
      left: 0%;
      width: 100%;
      opacity: 0;
      transition: all .5s ease-out; }
    .projects-box__text {
      position: absolute;
      top: 100%;
      left: 50%;
      width: 70%;
      transform: translate(-50%, 0);
      opacity: 0;
      transition: all .5s ease-out; }
      @media only screen and (max-width: 56.25em) {
        .projects-box__text {
          font-size: 1.1rem;
          line-height: 1.1rem; } }
    .projects-box:hover .projects-box__img {
      transform: scale(1.05); }
    .projects-box:hover .projects-box__img {
      transform: scale(1.05);
      filter: brightness(20%);
      transition: all .5s ease-out; }
    .projects-box:hover .projects-box__heading {
      top: 30%;
      opacity: 1; }
    .projects-box:hover .projects-box__text {
      top: 50%;
      opacity: 1; }

.service-box {
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  transition: all .5s;
  height: 25rem;
  border-left: 2px solid #aeaeae;
  border-right: 2px solid #aeaeae;
  margin: 0 -3.1rem; }
  @media only screen and (max-width: 75em) {
    .service-box {
      border: none;
      margin: 0 -2rem; } }
  @media only screen and (max-width: 56.25em) {
    .service-box {
      height: auto; } }
  .service-box .heading-ternary {
    width: 90%;
    text-align: center;
    margin: 0 auto; }
  .service-box__icon {
    color: #b88b58;
    font-size: 6rem;
    margin-bottom: 2.5rem;
    display: inline-block;
    transition: all .5s ease-out;
    width: 90%; }
    @media only screen and (max-width: 56.25em) {
      .service-box__icon {
        margin-bottom: 0; } }
  .service-box__text {
    color: #aeaeae;
    font-size: 1.2rem;
    letter-spacing: .1px;
    transition: all .5s ease-out; }
  .service-box:hover .service-box__icon,
  .service-box:hover .service-box__text,
  .service-box:hover .heading-ternary {
    transform: translateY(-1.5rem); }

.tags {
  list-style: none;
  text-align: center;
  background-color: #ededed;
  border: 1px solid #aeaeae;
  border-radius: 10rem;
  margin: 0 auto;
  width: 50%; }
  @media only screen and (max-width: 75em) {
    .tags {
      width: 100%; } }
  @media only screen and (max-width: 37.5em) {
    .tags {
      display: none; } }
  .tags__item {
    margin: 1rem;
    display: inline-block;
    position: relative; }
    .tags__item:not(:last-child)::after {
      content: "";
      position: absolute;
      width: 1px;
      height: 3rem;
      top: 0;
      right: -1.5rem;
      border-right: 1px solid #aeaeae; }
  .tags__link:link, .tags__link:visited {
    font-size: 1.4rem;
    font-weight: 300;
    padding: 1.6rem .5rem .5rem .5rem;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: .5rem solid transparent;
    transition: all .5s; }
    @media only screen and (max-width: 56.25em) {
      .tags__link:link, .tags__link:visited {
        padding: 1.6rem 0 0 0; } }
  .tags__link:hover, .tags__link:active {
    border-bottom: 0.5rem solid #b88b58; }

.team {
  background-color: #fff;
  color: #333;
  padding: 6rem 0;
  border-radius: 3px;
  transition: all .5s ease-in-out;
  transform: scale(0.9); }
  @media only screen and (max-width: 75em) {
    .team {
      margin: 0 -2rem; } }
  .team-box {
    margin: 0 auto;
    text-align: center; }
    .team-box__heading {
      color: #333;
      font-size: 1.6rem;
      font-weight: 700;
      letter-spacing: 2px;
      text-transform: uppercase; }
    .team-box__text {
      color: #333;
      font-size: 1.4rem; }
  .team__img {
    border-radius: 50%; }
  .team__caption {
    padding: 3rem; }
  .team__social-icons {
    margin: 0 auto;
    width: 100%;
    text-align: center; }
    .team__social-icons--icon {
      width: 3.2rem;
      font-size: 1.6rem;
      line-height: 3.2rem;
      text-align: center; }
    .team__social-icons-link:link, .team__social-icons-link:visited {
      color: #fff;
      background-color: #aeaeae;
      text-decoration: none;
      display: inline-block;
      width: 3.2rem;
      height: 3.2rem;
      font-size: 1.6rem;
      line-height: 3.2rem;
      border-radius: 50%;
      transition: all .3s ease-in-out; }
    .team__social-icons-link:hover, .team__social-icons-link:active {
      background-color: #b88b58; }
  .team:hover {
    transform: translateY(-1rem) scale(1); }

.tell-about-us {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #cfcfcf;
  padding: 3rem; }
  .tell-about-us-row {
    width: 60%;
    margin-left: 27%; }
    @media only screen and (max-width: 75em) {
      .tell-about-us-row {
        margin: 0 auto;
        padding: 4rem 0; } }
    @media only screen and (max-width: 37.5em) {
      .tell-about-us-row {
        width: 100%; } }
  .tell-about-us__box {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    color: #aeaeae;
    width: 20%;
    line-height: 4rem;
    position: relative;
    float: left; }
    @media only screen and (max-width: 75em) {
      .tell-about-us__box {
        width: 100%;
        text-align: center;
        margin: 2rem 0; } }
  .tell-about-us__icon {
    font-size: 4rem;
    position: absolute;
    top: 50%;
    left: -6rem;
    transform: translateY(-50%); }
    @media only screen and (max-width: 75em) {
      .tell-about-us__icon {
        left: 50%;
        transform: translate(-50%, -150%); } }
  @media only screen and (max-width: 37.5em) {
    .tell-about-us__social {
      text-align: center; } }
  .tell-about-us__social-icons-link {
    margin: 0 .5rem 0 4.5rem; }
    @media only screen and (max-width: 56.25em) {
      .tell-about-us__social-icons-link {
        margin-left: 1rem; } }
    .tell-about-us__social-icons-link--twitter {
      background-color: #34c5f1 !important; }
    .tell-about-us__social-icons-link--linked {
      background-color: #137cb5 !important; }
    .tell-about-us__social-icons-link--facebook {
      background-color: #336296 !important; }
    .tell-about-us__social-icons-link--google {
      background-color: #e54336 !important; }
    .tell-about-us__social-icons-link--pinterest {
      background-color: #b81d2b !important; }
    .tell-about-us__social-icons-link:hover {
      background-color: #b88b58 !important; }

.footer {
  background-color: #000;
  padding: 4rem 0;
  font-size: 1.4rem;
  position: relative;
  overflow: hidden; }
  @media only screen and (max-width: 75em) {
    .footer {
      padding: 4rem; } }
  @media only screen and (max-width: 56.25em) {
    .footer {
      padding: 8rem 0; } }
  .footer__left {
    position: relative;
    height: 25rem; }
    @media only screen and (max-width: 56.25em) {
      .footer__left {
        height: auto; } }
  .footer__form {
    background-color: #333;
    padding: 6rem;
    border-radius: 3px; }
    @media only screen and (max-width: 75em) {
      .footer__form {
        padding: 6rem 3rem; } }
  .footer .form__group {
    background-color: #777;
    position: relative; }
  .footer .form__input {
    background-color: #333;
    text-align: center;
    margin: 0 auto; }
  .footer .form__label {
    width: 100%;
    text-align: center;
    transition: all .3s ease-in; }
  .footer .form__input:placeholder-shown + .footer .form__label {
    opacity: 1;
    font-size: 1.6rem;
    visibility: hidden; }
  .footer .team__social-icons {
    text-align: left; }
    .footer .team__social-icons--footer {
      margin-right: .3rem; }
      @media only screen and (max-width: 75em) {
        .footer .team__social-icons--footer i {
          width: 2.8rem;
          font-size: 1.4rem;
          line-height: 2.8rem; } }
      .footer .team__social-icons--footer:link, .footer .team__social-icons--footer:visited {
        background-color: #333; }
        @media only screen and (max-width: 75em) {
          .footer .team__social-icons--footer:link, .footer .team__social-icons--footer:visited {
            width: 2.8rem;
            height: 2.8rem;
            line-height: 2.8rem;
            margin-right: 0; } }
      .footer .team__social-icons--footer:hover, .footer .team__social-icons--footer:active {
        background-color: #b88b58; }
    @media only screen and (max-width: 56.25em) {
      .footer .team__social-icons {
        text-align: center; } }
  .footer__copyright {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    text-align: center; }
    .footer__copyright-text {
      color: #f7f7f7;
      font-weight: 700; }

.row {
  max-width: 100rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 4rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 75em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 3rem; } }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
    @media only screen and (max-width: 75em) {
      .row .col-1-of-4 {
        width: calc((100% - 3 * 3rem) / 4); } }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2*  6rem); }
  .row .col-1-of-5 {
    width: calc((100% - 4 * 6rem) / 5); }
  .row .col-2-of-5 {
    width: calc(2 * ((100% - 4 * 6rem) / 5) +  6rem); }
  .row .col-3-of-5 {
    width: calc(3 * ((100% - 4 * 6rem) / 5) + 2* 6rem); }

.header {
  height: 100vh;
  background-image: url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative; }
  .header__text-box {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.navigation {
  position: fixed;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  background-color: #000;
  z-index: 1500;
  transition: all .4s ease-out; }
  @media only screen and (max-width: 75em) {
    .navigation {
      background-color: transparent; } }
  .navigation__logo-box {
    float: left;
    margin-top: 1.5rem; }
    @media only screen and (max-width: 75em) {
      .navigation__logo-box {
        display: none; } }
  .navigation__checkbox {
    display: none; }
  .navigation__button {
    display: none; }
    @media only screen and (max-width: 75em) {
      .navigation__button {
        display: block;
        background-color: #b88b58;
        height: 7rem;
        width: 7rem;
        border-radius: 50%;
        position: fixed;
        top: 6rem;
        right: 6rem;
        z-index: 2000;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
        text-align: center;
        cursor: pointer; } }
    @media only screen and (max-width: 75em) {
      .navigation__button {
        top: 3rem;
        right: 3rem; } }
    @media only screen and (max-width: 37.5em) {
      .navigation__button {
        top: 1rem;
        right: 1rem; } }
  .navigation__nav {
    float: right; }
    @media only screen and (max-width: 75em) {
      .navigation__nav {
        opacity: 0;
        width: 0;
        position: fixed;
        top: 0;
        left: 0;
        transition: padding .5s ease-in-out; } }
  .navigation__list {
    list-style: none;
    text-align: center; }
  .navigation__item {
    display: inline-block;
    margin: 3rem 1rem 0 0; }
  .navigation__link:link, .navigation__link:visited {
    display: inline-block;
    font-size: 1.3rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0px 1px, 1px 0px, 1px 1px;
    border-bottom: 5px solid transparent;
    padding: 0 .5rem 3rem .5rem;
    transition: all .4s ease-in-out; }
  .navigation__link:hover, .navigation__link:active {
    border-bottom: 5px solid #b88b58; }
  @media only screen and (max-width: 75em) {
    .navigation__checkbox:checked ~ .row .navigation__nav {
      display: block;
      background-color: rgba(0, 0, 0, 0.85);
      width: 100%;
      padding: 1rem;
      opacity: 1; }
      .navigation__checkbox:checked ~ .row .navigation__nav .navigation__item {
        width: 100%;
        margin: 0; }
      .navigation__checkbox:checked ~ .row .navigation__nav .navigation__link {
        margin: 0;
        padding: 0; } }
  .navigation__icon {
    position: relative;
    margin-top: 3.5rem; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 3rem;
      height: 2px;
      background-color: #fff;
      display: inline-block; }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s; }
    .navigation__icon::before {
      top: -.8rem; }
    .navigation__icon::after {
      top: .8rem; }
  .navigation__button:hover .navigation__icon::before {
    top: -1rem; }
  .navigation__button:hover .navigation__icon::after {
    top: 1rem; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    transform: rotate(135deg);
    top: 0; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    transform: rotate(-135deg);
    top: 0; }

.section-about,
.section-services,
.section-projects,
.section-team,
.section-price,
.section-premium,
.section-facts {
  padding: 6rem 0; }
  @media only screen and (max-width: 75em) {
    .section-about,
    .section-services,
    .section-projects,
    .section-team,
    .section-price,
    .section-premium,
    .section-facts {
      padding: 6rem 3rem; } }

@media only screen and (max-width: 37.5em) {
  .section-about .btn {
    text-align: center; } }

.section-about__img {
  width: 100%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }

.section-services,
.section-facts {
  background-color: #000; }
  @media only screen and (max-width: 56.25em) {
    .section-services,
    .section-facts {
      padding: 10rem 0; } }

.section-team {
  background-image: url(../img/team-background.jpg); }
  @media only screen and (max-width: 56.25em) {
    .section-team {
      background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/team-background.jpg); } }

.section-clients {
  padding: 6rem 0 0 0; }
  .section-clients .client__details--cite, .section-clients .client__details--text {
    font-style: normal;
    font-weight: 300;
    color: #000; }
  .section-clients .client__details--cite {
    text-shadow: 0px 1px, 1px 0px, 1px 1px; }
  .section-clients .client__quote {
    width: 70%;
    margin: 0 auto;
    font-style: normal;
    font-size: 1.4rem;
    font-weight: 500;
    position: relative;
    margin-top: 6rem; }
    @media only screen and (max-width: 37.5em) {
      .section-clients .client__quote {
        width: 100%; } }
    .section-clients .client__quote:before {
      content: "\201C";
      font-size: 10rem;
      display: block;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%); }
  .section-clients .logo {
    border-top: 1px solid #cfcfcf;
    border-bottom: 1px solid #cfcfcf;
    background-color: #fff; }
    .section-clients .logo-box {
      float: left;
      width: 16.66666%;
      height: 18rem;
      position: relative;
      transition: all .5s ease-out; }
      .section-clients .logo-box:hover {
        transform: scale(0.95); }
      @media only screen and (max-width: 75em) {
        .section-clients .logo-box {
          width: 33%; } }
      @media only screen and (max-width: 37.5em) {
        .section-clients .logo-box {
          width: 50%;
          height: 10rem; } }
    .section-clients .logo__img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }

.section-price {
  border-bottom: 1px solid #cfcfcf; }

.section-premium {
  background-color: #fff; }
  .section-premium .premium-img {
    width: 100%; }
  .section-premium .premium-features {
    position: relative;
    margin-bottom: 3rem; }
    @media only screen and (max-width: 56.25em) {
      .section-premium .premium-features {
        margin-left: 10rem; } }
    .section-premium .premium-features__icon {
      position: absolute;
      top: -.5rem;
      left: -7rem;
      font-size: 5rem;
      color: #b88b58; }
    .section-premium .premium-features__heading {
      color: #242424;
      font-size: 2rem;
      font-weight: 700;
      text-transform: uppercase; }
    .section-premium .premium-features__description {
      color: #aeaeae;
      font-size: 1.4rem;
      font-weight: 500;
      margin-bottom: 1rem; }
    .section-premium .premium-features__feature {
      color: #aeaeae;
      font-size: 1.4rem;
      font-weight: 600;
      line-height: 3rem;
      text-transform: uppercase;
      margin-left: 1.5rem;
      position: relative; }
      .section-premium .premium-features__feature::before {
        content: "";
        width: 1rem;
        height: 2px;
        background-color: #aeaeae;
        position: absolute;
        top: 50%;
        left: -1.5rem; }

.section-facts .facts {
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center; }
  .section-facts .facts__number {
    color: #b88b58;
    font-size: 5rem;
    font-weight: 700;
    position: relative; }
    .section-facts .facts__number::after {
      content: "";
      width: 2rem;
      height: 3px;
      background-color: #999;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, -1rem); }
  .section-facts .facts .heading-ternary {
    height: 6rem; }
    @media only screen and (max-width: 75em) {
      .section-facts .facts .heading-ternary {
        height: 10rem; } }
    @media only screen and (max-width: 56.25em) {
      .section-facts .facts .heading-ternary {
        height: auto; } }

.section-contact {
  padding: 6rem 0 0 0; }
  .section-contact .contact-form {
    width: 60%;
    margin: 0 auto; }
  .section-contact .address {
    width: 100%;
    background-image: url(../img/map.jpg);
    padding: 3rem 0;
    background-size: 100%; }
    .section-contact .address .address__box {
      width: 100%;
      padding: 2.5rem 2rem;
      background-color: #fff; }
    .section-contact .address__field {
      position: relative;
      margin: 2rem 0 2rem 6rem;
      font-size: 1.2rem; }
    .section-contact .address__icon {
      display: block;
      position: absolute;
      top: 50%;
      left: -5rem;
      transform: translateY(-50%);
      font-size: 1.4rem;
      line-height: 2.8rem;
      color: #fff;
      background-color: #aeaeae;
      border-radius: 50%;
      width: 2.8rem;
      height: 2.8rem;
      text-align: center; }
